
@import url(//db.onlinewebfonts.com/c/116d187134420de5733c7c45bbc80c46?family=LuloCleanW01-One);

.mat-slider{
    
    width: 300px;


}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://sm.ign.com/ign_es/screenshot/default/wallpapersdencom-thor-in-avengers-endgame-1280x720_vgz5.jpg');
    background-size: cover;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  



    /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.text1{
  
  height: 400px;
 
}
.text1 strong{
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #FF5964;
}
.text1 p{
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #fc8f96;
}


.text2{
  
  height: 400px;
 
}
.text2 strong{
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #052360;
}
.text2 p{
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #395999;
}


.text3{
  
  height: 400px;
 
}
.text3 strong{
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #5e258b;
}
.text3 p{
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #395999;
}


.text1Align{
  margin-top: 200px;
  margin-left: 120px;
}
.fondo1{
  background-image: url('http://itooring.com/images/Seccion1/1.0_3.png'); -webkit-background-size: 100% 100%;  
-moz-background-size: 100% 100%;          
  -o-background-size: 100% 100%;         
     background-size: 100% 100%;
}
.fondo2{
  background-image: url('http://itooring.com/images/Seccion3/3.0.png'); -webkit-background-size: 100% 100%;  
-moz-background-size: 100% 100%;          
  -o-background-size: 100% 100%;         
     background-size: 100% 100%;
}

.fondo3{
  background-image: url('http://itooring.com/images/Seccion5/5.0.png'); -webkit-background-size: 100% 100%;  
-moz-background-size: 100% 100%;          
  -o-background-size: 100% 100%;         
     background-size: 100% 100%;
}
.container_robot{
  height: 850px; min-width: max-content; margin-left: 1%; align-items: center;
}

.Robot{
 
  width: 400px;
  height: 600px;
    
}

.Sistema_solar{
 margin-top: 15%;
  width: 500px;
  height: 500px;
    
}

.text_seccion3{
  margin-top: 5%;
  font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #fcfcfc;

}

@media screen and (max-height: 900px) {
  .text1{
  width: 400px;
    height: 150px;
   
  }
  .text1 strong{
    font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #FF5964;
  }
  .text1 p{
    font-family: lulo clean -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #fc8f96;
  }
  
  .text1Align{
    margin-top: 50px;
    margin-left: 5%;
  }
  .fondo1{
    background-image: url('http://itooring.com/images/Seccion1/1.0_3.png'); 
  }
  .container_robot{
    height: 300px; min-width: max-content; margin-left: 3%; align-items: center;
  }

  .Robot{
 
    width: 150px;
    height: 150px;
      
  }
}

 