

<div>
 
    
    <mi-componente></mi-componente>
  
 
    


</div>





 <!-- *************************************************************************************************************************************************************** -->
 <!-- ***********************************************************************  SECCION 1  **************************************************************************** -->

 <!-- **************************************************************************************************************************************************************** -->

<div  class="fondo1">

<div class="col-13 row"  > <!-- seccion1 ancho max 13 -->
 
  <div class="col-md-8  ">
    

       <div class="column text1">
               
       <div class="text1Align"> <p>IMPULSAMOS <strong>LA  INNOVACIÓN</strong>  <br> <br>
          TOMA DE <strong>DECISIONES</strong> <br><br>
          <strong>CONFIDENCIALIDAD</strong> DE LA <br><br>
           <strong>INFORMACIÓN</strong> Y LA <strong>TECNOLOGIA</strong></p></div>
              
      
      </div>
      
    

</div>

   <div  class="col-md-4 row">
       <div class=" col-md-12 d-flex justify-content-center container_robot"  >

        <img src="http://itooring.com/images/Seccion1/robot.gif" class="Robot">
      
      
      </div>
   </div>
   <div  class="d-flex justify-content-center btn1" >  <a class="ejemplo2">ME INTERESA</a></div>
</div>
</div>







 <!-- *************************************************************************************************************************************************************** -->
 <!-- ***********************************************************************  SECCION 2  **************************************************************************** -->

 <!-- **************************************************************************************************************************************************************** -->



 <div class="col-13 row">
  <div class="col-md-7 text2" > <div class="text1Align"> 
    <p>SOMOS &nbsp; <strong> LIDERES</strong> &nbsp;  EN <br> <br>
      <strong>CONSULTORIA</strong> &nbsp;PARA
        <br><br> <strong>STARTUPS &nbsp; Y</strong> <br><br>
         <strong>EMPRENDEDORES</strong> </p>
    </div>
  </div>
  <div class="col-md-5" style="height: 800px;  align-items: center;">
    <div class="carousel carousel-slider"style="width: 730px; height: 600px;">
      <div class="carousel-fixed-item center"></div>
      <a class="carousel-item" href="#one!"><img style="width: 500px; height: 500px;" src="http://itooring.com/images/Seccion2/2.1.png"></a>
      <a class="carousel-item" href="#two!"><img style="width: 500px; height: 500px;"src="http://itooring.com/images/Seccion2/2.2.png"></a>
      <a class="carousel-item" href="#three!"><img style="width: 500px; height: 500px;"src="http://itooring.com/images/Seccion2/2.3.png"></a>
      <a class="carousel-item" href="#four!"><img style="width: 500px; height: 500px;"src="http://itooring.com/images/Seccion2/2.4.png"></a>
      <a class="carousel-item" href="#three!"><img style="width: 500px; height: 500px;"src="http://itooring.com/images/Seccion2/2.5.png"></a>
      <a class="carousel-item" href="#four!"><img style="width: 500px; height: 500px;"src="http://itooring.com/images/Seccion2/2.6.png"></a>
    </div>
  </div>   
  
  </div>



 

 <!-- *********************************************************************************************************************************************************************** -->
 <!-- ****************************************************************************  SECCION 3  ****************************************************************************** -->

 <!-- *********************************************************************************************************************************************************************** -->


<div class="col-13 row fondo2">
  <div class="col-md-6" style=" height: 900px; ">
    <div class="column text1"  >
               
      <div class="text1Align"> <p>IMPULSAMOS <strong>LA  INNOVACIÓN</strong>  <br> <br>
         TOMA DE <strong>DECISIONES</strong> <br><br>
         <strong>CONFIDENCIALIDAD</strong> DE LA <br><br>
          <strong>INFORMACIÓN</strong> Y LA <strong>TECNOLOGIA</strong></p></div>
             
         
     </div>

     <div class="column" style="text-align: center;">
      <a class="ejemplo2">¡VAMOS A HABLAR!</a>


     </div>
  
  </div>
  <div class="col-md-6" style=" height: 900px;  text-align: center;">
  <div class="column">

    <img src="http://itooring.com/images/Seccion3/3.1.png" class="Sistema_solar">

  </div>
  <div class="column">
   <div class="text_seccion3">

    TE ORIENTAMOS A TOMAR <br> <br>
     LA MEJOR DESICIÓN
   </div>   
    

  </div>
  </div>
</div>
 <!-- ********************************************************************************************************************************************************************** -->
 <!-- ****************************************************************************  SECCION 4 ****************************************************************************** -->

 <!-- ********************************************************************************************************************************************************************** -->
<div class="column">
 <div class="column" style=" height: 200px;  text-align: center;">
  <div class="column text1"  >
               
    <div class="text1Align"> <p> <strong>EXPERTOS EN CREAR SOLUCIONES<br> <br>
      INNOVADORAS PARA DISTINTAS INDUSTRIAS</strong> </p></div>
           
   
   </div>

</div>
<div class="col-13 row">
  <div class="col-md-3" style="  text-align: center;">




    <mat-card class="example-card" style="align-items: center;">
      <mat-card-header>
      
    
      </mat-card-header>
      <img  style="width: 302px; height: 258px;" mat-card-image src="http://itooring.com/images/Seccion4/4.1.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="column text1">
          <div > <p> <strong>BLOCKCHAIN</strong> </p></div><br><br><br><br>
          <div class="column text2">
          
            <div > <p> REVIENTA LA MANERA<br> <br>DE VIVIR Y TRABAJAR </p></div>
        
          </div>
        </div>
      </mat-card-content>
   
    </mat-card>
    

 
  </div>
  <div class="col-md-3" style="   text-align: center;">
  
    <mat-card class="example-card"style="align-items: center;">
      <mat-card-header>
      
    
      </mat-card-header>
      <img  style="width: 302px; height: 258px;" mat-card-image src="http://itooring.com/images/Seccion4/4.2.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="column text1">
          <div > <p> <strong>BIG DATA</strong> </p></div><br><br><br><br>
          <div class="column text2">
          
            <div > <p> TOMA EL CONTROL<br> <br>DE TU NEGOCIO </p></div>
        
          </div>
        </div>
      </mat-card-content>
   
    </mat-card>
  </div>
  <div class="col-md-3" style=" height: 700px;  text-align: center;">
    <div class="column ">
      <img style="width: 302px; height: 258px;" src="http://itooring.com/images/Seccion4/4.3.png" >
  
    </div>
    <br><br>
    <div class="column text1">
      <div > <p> <strong>MACHINE <br><br>LEARNING</strong> </p></div><br><br>
      <div class="column text2">
        <div > <p> TRANSFORMA TUS DATOS<br> <br>EN OPORTUNIDADES </p></div>
    
      </div>
    </div>
  </div>
  <div class="col-md-3" style=" height: 700px;  text-align: center;">
    <div class="column">
      <img style="width: 302px; height: 258px;" src="http://itooring.com/images/Seccion4/4.4.png" >
  
    </div>
    <br><br>
    <div class="column text1">
      <div > <p> <strong>INTELIGENCIA <br><br>ARTIFICIAL</strong> </p></div><br><br>
      <div class="column text2">
        <div > <p> IMPULSA EL CRECIMIENTO<br> <br>Y LA EFICIENCIA </p></div>
    
      </div>
    </div>
  </div>
</div>
</div>


 <!-- ********************************************************************************************************************************************************************** -->
 <!-- ****************************************************************************  SECCION 5 ****************************************************************************** -->

 <!-- ********************************************************************************************************************************************************************** -->
<div class="col-13 row fondo3" >
  <div class="col-md-6 "> 
      <div class=" row" style=" height: 300px;  text-align: center;">
      <div class="col-md-6">
        <img style="width: 302px; height: 258px;" src="http://itooring.com/images/Seccion5/5.1.png" >
      </div>
      <div class="col-md-6" >
           <div class="text3"  >
           <strong> <p>DISEÑO WEB</p></strong>
           </div>
      </div>
      </div>
      <div class=" row" style=" height: 300px;  text-align: center;">
        <div class="col-md-6">
          <img style="width: 302px; height: 258px;" src="http://itooring.com/images/Seccion5/5.2.png" >
        </div>
        <div class="col-md-6" >
             <div class="text3"  >
             <strong> <p>DISEÑO  DE<br> <br> SOFTWARE</p></strong>
             </div>
        </div>
        </div>
        <div class=" row" style=" height: 300px;  text-align: center;">
          <div class="col-md-6">
            <img style="width: 302px; height: 258px;" src="http://itooring.com/images/Seccion5/5.3.png" >
          </div>
          <div class="col-md-6" >
               <div class="text3"  >
               <strong> <p>DISEÑO DE APPS</p></strong>
               </div>
          </div>
          </div>
    
  </div>

  <div class="col-md-6">
    <div class="column" style=" height: 300px;  text-align: center;">
      <img style="width: 302px; height: 258px;" src="http://itooring.com/images/Seccion5/5.3.png" >
    </div>
    <div class="column" style=" height: 400px;  text-align: center;">
      <img style="width: 302px; height: 330px;" src="http://itooring.com/images/Seccion5/5.4.png" >
    </div> 
    <div class="column" style=" height: 200px;  text-align: center;">
      <div class="column" style="text-align: center;">
        <a class="ejemplo2">¡TRABAJEMOS JUNTOS!</a>
  
  
       </div>
    </div>   
  
  </div>
</div>
<div class="col-13 row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div>
<div class="col-13 row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div>
<div class="col-13 row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div>
<div class="col-13 row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div>
<div class="col-13 row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Compiled and minified CSS -->
