<div>
 
    
    <mi-componente></mi-componente>
  
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Carlos Salinas</mat-card-title>
        <mat-card-subtitle>Desarrollador de Tooring</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://images6.alphacoders.com/589/thumb-1920-589735.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Ejemplo de Componente Mat-Card Material design Angular
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
      <div algn="center">
        <mat-slider class="mat-slider" min="1" max="100" step="4" value="1"></mat-slider>
      
      </div>
    </mat-card>
    


</div>


